body {

    margin: 0;
    padding: 0;
    background-image: url('galaxy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  #game-container {
  
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #cosmonaut {
  
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 90px;
    height: 120px;
    background-image: url('cosmonaut2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: lefr 0.1s ease;
  }

  #score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
  }
  
  #reset-button {
  
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:  10px;
  }
  
  #reset-button:hover {
  
    background-color: #ff8747;
  }
  
  .asteroid {
    background-image: url('rock.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .power {
  
    background-image: url('power.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }